<%- include('partials/header')  %>

<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>
	<form action="/blogs" method="POST" class="ui form">
		<div class="field">
			<label for="blog-title">Title</label>
			<input type="text" name="blog[title]" id="blog-title" placeholder="Enter title">
		</div>
		<div class="field">
			<label for="blog-image_url-">Image</label>
			<input type="text" name="blog[image_url]" id="blog-image_url" placeholder="Enter image URL">
		</div>
		<div class="field">
			<label for="blog-body">Content</label>
			<textarea name="blog[body]" id="blog-body" placeholder="Enter blog post here"></textarea>
		</div>
		<input type="submit" class="ui orange big basic button">
	</form>
</div>

<%- include('partials/footer')  %>